.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
}

.form {
  max-width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
  background-color: #f5faff;
  padding: 25px;
  border-radius: 1rem;
  box-shadow: 0 0px 20px #0019312f;
  font-family: "Segoe UI", sans-serif;
}

.title {
  width: 300px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  transition: border-radius 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  border-radius: 8px;
}

.error {
  font-size: 0.85rem;
  color: #e74c3c;
  margin-top: -20px;
  text-align: left;
  width: 100%;
  padding-left: 5px;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.link{
  color: #0056b3;
  text-decoration: none;
}