.home{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.homeButton{
    color: #000;
    background-color: #e8f4ff;
    border: #0056b3 solid 2px;
    border-radius: 5px;
}

.homeButton:hover{
    background-color: #cbe6ff;
}