main{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    position: relative;
}

.layout{
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #65a1fa;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    nav ul{
        list-style: none;

        a{
            text-decoration: none;
        }
        

        li{
            color: #000;
            font-size: 16px;
        }
    }
}

.userName{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

.exitButton{
    background-color: unset;
    height: 24px;
    background-image: url("../../assets/log-out.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exitButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: unset;
}